.navbar{
    background-color:white;
}

.top-section { 
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fentabe.jp%2F52957%2Fstarbucks-opera-frappuccino&psig=AOvVaw15fKv1Lc9q5EO0x0AgAyyI&ust=1676015018055000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCLCcoND4h_0CFQAAAAAdAAAAABAD);
    background-size: cover;
}


.top-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.top-content h1 {
    /* display: inline; */
    font-size: 4em;
    font-weight: bold;
    font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
    color: white;
    text-align: center;
}

.content-section { 
    background-color: #0ac0f3;
}

.content-section .container { 
    padding: 1rem;
}

.my-footer{
    height: 20vh;
    background-color: white;
}

.my-footer .container { 
    padding: 1rem;
}

.footer-row{
    height: 100%;
}

.privacy-policy-link{
    color: #3cbf49;
}